apiVersion: v1
kind: Service
metadata:
  name: terrascope-backend
  namespace: terrascope
  labels:
    app: terrascope-backend
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: terrascope-backend
