apiVersion: v1
kind: Service
metadata:
  name: terrascope-frontend
  namespace: terrascope
  labels:
    app: terrascope-frontend
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: terrascope-frontend
